@using System.Collections
@model WebApplication1.Models.Movie
@{
    ViewData["Title"] = "Enter Movies";
    var categories = ViewBag.Categories as List<WebApplication1.Models.Category>;

}


<div class="text-center">
<h1 class="display-4">Enter Movies Into The Collection</h1>
</div>
<form method="post">
    <!-- CATEGORY DROPDOWN -->
    <div class="form-group">
        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(categories, "CategoryId", "CategoryName"))">
            <option value="">-- Select a Category --</option>
        </select>
    </div>
    <br/>
    <label asp-for="Title">Title:</label>
    <input asp-for="Title" />
    <br/>
    <label asp-for="Year">Year:</label>
    <input asp-for="Year" max="2099" />
    <br/>
    <!-- This should be optional-->
    <label asp-for="Director">Director:</label>
    <input asp-for="Director" />
    <br/>
    <!-- This should be optional-->
    <label asp-for="Rating">Rating:</label>
    <select asp-for="Rating" >
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br/>
    <label asp-for="Edited">Edited:</label> 
    <select asp-for="Edited">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br/>
    <!-- This should be optional-->
    <label asp-for="LentTo">Lend To:</label>
    <input asp-for="LentTo"/>
    <br/>
    <label asp-for="CopiedToPlex">Copied To Plex:</label>
    <select asp-for="CopiedToPlex">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br/>
    <!-- This should be optional-->
    <label asp-for="Notes">Notes:</label>
    <input asp-for="Notes" maxlength="25"/>  <!-- Maximum length is 25-->
    <br/>
    <button type="submit">Submit Movie</button>
</form>
