@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/images/1.jpg" alt="Joel Hilton">
</div>

<br/>

<div>
    <a asp-controller="Home" asp-action="EnterMovies">Enter Movies Into The Collection</a>
</div>

